In [6]:
import pandas as pd

# Load the three datasets
ab_test_data = pd.read_csv('data/ab_test_data.csv')
app_data = pd.read_csv('data/app_data.csv')
appointments_data = pd.read_csv('data/appointments_data.csv')

# Perform a left join on 'patient_id' across the three datasets
merged_data = ab_test_data.merge(app_data, on='patient_id', how='left').merge(appointments_data, on='patient_id', how='left')

In [2]:
ab_test_data

      patient_id    group             event_name       event_datetime
0              1  Control   attended_appointment  2023-02-05 15:40:21
1              2     Test          reminder_sent  2023-05-07 09:19:13
2              2     Test        reminder_viewed  2023-05-08 04:25:10
3              2     Test  appointment_confirmed  2023-05-08 04:26:36
4              2     Test   attended_appointment  2023-05-09 10:34:13
...          ...      ...                    ...                  ...
5655        2673  Control   attended_appointment  2023-01-03 09:56:57
5656        2674  Control   attended_appointment  2023-07-18 10:42:54
5657        2675  Control   attended_appointment  2023-02-14 16:50:58
5658        2677  Control   attended_appointment  2023-05-21 13:26:23
5659        2678  Control   attended_appointment  2023-01-12 16:40:41

[5660 rows x 4 columns]

In [3]:
app_data

      patient_id  traffic_source        device
0              1  Organic Search      IOS 17.4
1              2        Meta Ads      IOS 16.5
2              3          Direct   Android 8.3
3              4          Direct  Android 12.1
4              5          Direct      IOS 13.4
...          ...             ...           ...
2673        2674        Referral   Android 9.1
2674        2675        Meta Ads  Android 12.5
2675        2676  Organic Search  Android 10.3
2676        2677  Organic Search  Android 10.1
2677        2678        Meta Ads   Android 9.2

[2678 rows x 3 columns]

In [4]:
appointments_data

,patient_id,age,gender,doctor_name,appointment_reason,appointment_date,appointment_status
0,1,38,Female,Dr. Smith,Screening for COVID,2023-02-05,Attended
1,2,53,Male,Dr. Brown,Ultrasound,2023-05-09,Attended
2,3,67,Female,Dr. Smith,Annual Exam,2023-01-30,Attended
3,4,63,Female,Dr. Johnson,Flu Shot,2023-04-08,Not Attended
4,5,77,Male,Dr. Jones,Allergy injection,2023-02-24,Not Attended
...,...,...,...,...,...,...,...
2673,2674,31,Female,Dr. Smith,Allergy injection,2023-07-18,Attended
2674,2675,71,Male,Dr. Jones,Annual Exam,2023-02-14,Attended
2675,2676,75,Female,Dr.Brown,Screening for COVID,2023-07-19,Not Attended
2676,2677,74,Male,Dr. Williams,Ultrasound,2023-05-21,Attended
2677,2678,33,Female,Dr. Johnson,Flu Shot,2023-01-12,Attended

In [5]:
merged_data

,patient_id,group,event_name,event_datetime,traffic_source,device,age,gender,doctor_name,appointment_reason,appointment_date,appointment_status
0,1,Control,attended_appointment,2023-02-05 15:40:21,Organic Search,IOS 17.4,38,Female,Dr. Smith,Screening for COVID,2023-02-05,Attended
1,2,Test,reminder_sent,2023-05-07 09:19:13,Meta Ads,IOS 16.5,53,Male,Dr. Brown,Ultrasound,2023-05-09,Attended
2,2,Test,reminder_viewed,2023-05-08 04:25:10,Meta Ads,IOS 16.5,53,Male,Dr. Brown,Ultrasound,2023-05-09,Attended
3,2,Test,appointment_confirmed,2023-05-08 04:26:36,Meta Ads,IOS 16.5,53,Male,Dr. Brown,Ultrasound,2023-05-09,Attended
4,2,Test,attended_appointment,2023-05-09 10:34:13,Meta Ads,IOS 16.5,53,Male,Dr. Brown,Ultrasound,2023-05-09,Attended
...,...,...,...,...,...,...,...,...,...,...,...,...
5655,2673,Control,attended_appointment,2023-01-03 09:56:57,Direct,IOS 16.3,81,Male,Dr. Brown,Screening for COVID,2023-01-03,Attended
5656,2674,Control,attended_appointment,2023-07-18 10:42:54,Referral,Android 9.1,31,Female,Dr. Smith,Allergy injection,2023-07-18,Attended
5657,2675,Control,attended_appointment,2023-02-14 16:50:58,Meta Ads,Android 12.5,71,Male,Dr. Jones,Annual Exam,2023-02-14,Attended
5658,2677,Control,attended_appointment,2023-05-21 13:26:23,Organic Search,Android 10.1,74,Male,Dr. Williams,Ultrasound,2023-05-21,Attended
5659,2678,Control,attended_appointment,2023-01-12 16:40:41,Meta Ads,Android 9.2,33,Female,Dr. Johnson,Flu Shot,2023-01-12,Attended

In [7]:
# Checking for missing values (NaNs) in all three dataframes
ab_test_na = ab_test_data.isna().sum()
app_data_na = app_data.isna().sum()
appointments_data_na = appointments_data.isna().sum()
merged_data_na = merged_data.isna().sum()
ab_test_na, app_data_na, appointments_data_na, merged_data_na

(patient_id        0
 group             0
 event_name        0
 event_datetime    0
 dtype: int64,
 patient_id        0
 traffic_source    0
 device            0
 dtype: int64,
 patient_id            0
 age                   0
 gender                0
 doctor_name           0
 appointment_reason    0
 appointment_date      0
 appointment_status    0
 dtype: int64,
 patient_id            0
 group                 0
 event_name            0
 event_datetime        0
 traffic_source        0
 device                0
 age                   0
 gender                0
 doctor_name           0
 appointment_reason    0
 appointment_date      0
 appointment_status    0
 dtype: int64)